
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=PT+Sans&display=swap');

:root{
	--fs-sm: 1.5rem;
	--fs-md: 1.75rem;
	--fs-lg: 2.5rem;
	--fs-xl: 2.75rem;
}

@media (min-width: 1024px) {
	:root{
		--fs-sm: 2rem;
		--fs-md: 2.5rem;
		--fs-lg: 3.125rem;
		--fs-xl: 3.7rem;
	}
}

$dark: #3F5A53;
$light: #DBC0AB;

$fs-sm: var(--fs-sm);
$fs-md: var(--fs-md);
$fs-lg: var(--fs-lg);
$fs-xl: var(--fs-xl);

$ff-primary: 'Alex Brush', cursive;
$ff-secondary: 'PT Sans', sans-serif;


// bs vars
$font-family-sans-serif: $ff-primary;
$theme-colors: (
  "light":      $light,
  "dark":       $dark
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
);

@import 'bootstrap/scss/bootstrap.scss';


@import 'base';
@import 'blocks';

body{
	color: $dark;
}

.text-xl{ font-size: $fs-xl; }
.text-lg{ font-size: $fs-lg; }
.text-md{ font-size: $fs-md; }
.text-sm{ font-size: $fs-sm; }
.text-uppercase{ text-transform: uppercase; }

.dark{ color: $dark; }
.light{ color: $light; }

.ff-primary{ font-family: $ff-primary; }
.ff-secondary{ font-family: $ff-secondary; }

.block{
	margin-top: 12vh;
	margin-bottom: 12vh;
}